<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Index Page</title>
</head>
<body>
  
  <h3>Hello Mohamed !</h3>
  <a th:href="@{/create}">Create User</a><br>
  <a th:href="@{/delete}">Delete User</a><br>
  <a th:href="@{/doLogout}">Logout</a>
</body>
  
</html>